th {
  border: solid;
  border-width: 2px;
  border-color: #f0ece2;
}
tr td:nth-child(1) {
  background-color: #1f4068;
  width: 130px;
}
tr td:nth-child(2) {
  background-color: #1b1b2f;
  width: 125px;
}
tr td:nth-child(3) {
  background-color: #e43f5a;
  width: 125px;
}
